<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>thymeleaf2</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
    共通值：<span th:text="${level}"/>

    <form th:object="${thymeleafForm2}">
        来自于thymeleaf2：<span th:text="${thymeleafForm2.test2}"/>
    </form>
</body>
</html>